.workspace {
  display: flex;
  flex: 1;
  margin: 30px 200px;
}

.new-slide {
  display: flex;
  height: 0;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 28% 0;
  border: 2px dashed #999;
  border-radius: 15px;
  background: none;
  color: #999;
  cursor: pointer;
  font:
    400 italic 24px/1 Roboto,
    sans-serif;
}
